{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row aboutus bg-light">
    <h1 style="text-align:center;"> About<b style="color:#039be4;"> Us <i class="fa fa-info-circle" ></i></b></br></h1>

    <div class="col-sm-1 "></div>
    <div class="col-sm-10" style=" min-height:150px;">
        <p style="text-align:justify;" class="mt-3">
        The Watch Store is a form of electronic commerce which allows consumers to directly buy watches from a seller over the internet using a web browser, now-a-days the lifestyle of the people is different. People feel uncomfortable and time-consuming for going crowded markets. So, E-Commerce is a born as it saves a lot of time.
        Online shopping is a process whereas consumers directly buy goods, services etc. from a seller without an intermediary services over the internet. Shoppers can visit
        web stores from the comfort of their house and shop as by sitting front of the computer.
            The Watch Store makes easier to buy brandes & legit-met watches from anywhere, anytime as your comfort.
        </p>

    </div>
    <div class="col-sm-1 "></div> <hr class="mt-5">
    <div class="col-sm-6">
        <h2><b>&nbsp; Objective</b></h2>
        <ul>
            <li>It is time-Saving and energy Saving.</li>
            <li>Person can easily log in to site while sitting on home.</li>
            <li>Person can buy more than one product without going anywhere.</li>
            <li>The transactions are executed in off-line mode, hence on-line data for Shopping,internet capture modification is not possible</li>
            <li>Manage the information and description  of the Shopping.</li>
            <li>To increase efficiency of managing the Shopping</li>
            <li>It deals with monitoring the information and transaction of Bills.</li>

        </ul>

    </div>
    <div class="col-sm-6"></div><hr class="mt-5">

</div>
{% endblock %}